<nav>
    <div class="wrap_lower_left">
        <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
            <i class="material-icons">sort_by_alpha</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="menu-lower-left">
            <li class="mdl-menu__item" (click)="onClickedSort('date')">Date</li>
            <li class="mdl-menu__item" (click)="onClickedSort('rating')">Rating</li>
            <li class="mdl-menu__item" (click)="onClickedSort('relevance')">Relevance</li>
            <li class="mdl-menu__item" (click)="onClickedSort('title')">Title</li>
            <li class="mdl-menu__item" (click)="onClickedSort('videoCount')">VideoCount</li>
            <li class="mdl-menu__item" (click)="onClickedSort('viewCount')">ViewCount</li>
        </ul>
    </div>
    <div class="search_area">
        <label class="mdl-button mdl-js-button  mdl-button--icon" for="inp_search">
            <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="inp_search" (keyup)="onKeyUp($event)" [(ngModel)]="searchText" (ngModelChange)="onInputChange($event)">
            <label class="mdl-textfield__label" for="inp_search">Search...</label>
        </div>
    </div>
</nav>