nav {
    overflow: hidden;
    display: block;
    height: 50px;
    background: #19bee1;
    text-align: center;
}

.mdl-textfield {
    width: 150px;
}

.wrap_lower_left {
    position: absolute;
    float: left;
    top: 10px;
    left: 10px;
}

.search_area {
    float: right;
    margin: 0 10px 0 0;
}

/*h1{float:left}*/
/*input{float:right}*/